@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/scss/bootstrap';





$primary: #4e73df;
$secondary: #858796;
$success: #1cc88a;
$danger: #e74a3b;
$warning: #f6c23e;
$info: #36b9cc;

body {
    font-family: 'Nunito', sans-serif;
}

.sidebar {
    .nav-item {
        .nav-link {
            &.active {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.card {
    border: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}


.low-stock {
    color: $danger;
    font-weight: bold;
}


.btn-group{
    .btn {      
            background-color: $primary;
            border-color: $primary;
        
    }
    .btn:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 20%);
        // box-shadow: 0 0.15rem 1.75rem 0 rgba(9, 175, 9, 0.9);
    }
}

.nav-item{
    &:hover{
        cursor: pointer;
        // background-color: rgba(189, 21, 21, 0.9);
        .nav-link {
            color: $primary;
        }
    }
}


.offcanvas-header{
    h5{
        color: white;
    }
    
    background-color:$primary;
}

#profile,#product{
    &:hover{
        color: white;
    }
    .collapse-item{
        color: white;
        &:hover{
            color: $primary;
            
        }
        
    }
}

.table-hover tbody tr:hover {
    td{
        color: white !important;
        background-color: rgba(13, 110, 253, 0.9);;
    }
   
}

#accordionSidebar{

    #shopName {
        justify-content: start;
        position: fixed;
       
    }
    #componentName{
        justify-content: center;
        position: fixed;
        margin-top: 8rem;
    }
    
  
}



